.songsTable {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  overflow: auto;
  gap: 1px;
  border: 1px solid black;
  background-color: black;
  margin: 16px;
}

.songsTable .columnTitle {
  padding: 8px 16px;
  font-weight: bold;
  background-color: #c6002b;
  color: #fff;
  cursor: pointer;
  user-select: none;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.songsTable > div {
  padding: 5px;
  background-color: white;
  white-space: nowrap;
}

.songsTable .sortIcon,.iconPlaceholder {
  width: 20px;
  height: 20px;
}

.songsTable .emptyBody {
  grid-column:  1 / span main-end;
}