.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePage .link {
  color: #c6002b;
}

.wave {
  position: fixed;
  bottom: 0;
}